<div class="col-md-6">
    <label for="inputName" class="form-label">First Name</label>
    <input type="text" class="form-control" name = "FirstName" value = "{{this.first_name}}" placeholder="First Name">
  </div>
  <div class="col-md-6">
    <label for="inputName" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="LastName" value = "{{this.last_name}}" placeholder="Last Name">
  </div>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" name = "Email"value = "{{this.email}}" placeholder="email@gmail.com">
  </div>
  <div class="col-md-6">
    <label for="inputPhone" class="form-label">phone</label>
    <input type="text" class="form-control" name="Phone" value = "{{this.phone}}" placeholder="ex:063654....">
  </div>
  <div class="col-12">
    <label for="inputComment" class="form-label">Comments</label>
    <textarea type="text" class="form-control " name="Comment" placeholder="comments" style="height: 200px"> {{this.comments}}</textarea>
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn col-12 btn-primary">Submit</button>
  </div>